<h1>
	Edit Food Details
</h1>

<form class="newfood" action="/foods/<%= @food.id %>" method="post">
	<input type="hidden" name="_method" value="patch" />
	<p> 
		Name:
		<input type="text" name="food[name]" value="<%= @food.name %>" />
	</p>	
	<p>
		Cuisine: 
		<input type="text" name="food[cuisine]" value="<%= @food.cuisine %>" />
	</p>
	<p>
		Price:
		<input type="text" name="food[price]" value="<%= @food.price %>" />
	</p>
	<p>
		Allergens:
		<input type="text" name="food[allergens]" value="<%= @food.allergens %>" />
	</p>
	<p>
		Spicy Level:
		<input type="text" name="food[spicy_level]" value="<%= @food.spicy_level %>" />
	</p>
	<input type="submit" value="Edit Food" />
</form>



<div>
	<footer>
		<a class="nav" href="/foods/<%= @food.id %>">
			Back to Food Item
		</a>
		<a class="nav" href="/foods">
			Back to Menu
		</a>
		<a class="nav" href="/">
			Home
		</a>
	</footer>
</div>