<h1>
  Edit Party's Details
</h1>

<form class="content" action="/parties/<%= @party.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <p>
    Surname:
    <input type="text" name="party[surname]" value="<%= @party.surname %>" />
  </p>
  <p>
    Table Number:
    <input type="text" name="party[table_number]" value="<%= @party.table_number %>" />
  </p>	
  <p>
    Number of Guests:
    <input type="text" name="party[guests]" value="<%= @party.guests %>" />
  </p>
  <p>
    Paid?
    <input type="text" name="party[pay_status]" value="<%= @party.pay_status %>" />
  </p>
  <input type="submit" name="Edit Party" />
</form>

<div>
  <footer>
    <a class="nav" href="/parties/<%= @party.id %>">
      Back to Party
    </a>
    <a class="nav" href="/parties">
      Back to Parties
    </a>
    <a class="nav" href="/">
      Home
    </a>
  </footer>
</div>