<h2>
	Party Details
</h2>

<table>
	<tr>
		<th>
			Table Number
		</th>
		<th>
			Number of Guests
		</th>
		<th>
			Food Ordered
		</th>
		<th>
			Paid?
		</th>
	</tr>
	<tr>
		<td>
			<%= @party.table_number %>
		</td>
		<td>
			<%= @party.guests %>
		</td>
		<td>
			<%= @food.name %>
		</td>
		<td>
			<%= @party.pay_status %>
		</td>
	</tr>
</table>




<h4>
	Add Menu Item to this Party:
</h4>
<form action="/orders" method="post">
	<p>	
		Item Number:
		<input type="text" name="id" />
		<input type="hidden" name="party_id" value="<%= @party.id %>">
	</p>	
	<input type="submit" />
</form>



<h4>
	<a href="/parties/<%= @party.id %>/edit">
		Edit
	</a>
</h4>
<form action="/parties/<%= @party.id %>" method="post">
	<input type="hidden" name="_method" value="delete" />
	<input type="submit" value="Delete" />
</form>
<h4>
	<a href="/parties">
		Back to Parties
	</a>
</h4>
<h4>
	<a href="/">
		Home
	</a>
</h4>